.wrapper-middle-side{
	height: 800px;
}

.wrapper-inside{
	height: 700px;
}

.wrapper-middle-side{
	background-position: -280px 160px;
}

.main_information{
	padding-top: 110px;
}

.about-me{
	padding-top: 50px;
}

.works__wrapp-center{
	top: 70px;
}

.works__wrapp-center{
	max-width: 500px;
}

.work-one{
	max-width: 460px;
	height: 250px;
}

.whov-first{
	max-width: 460px;
	height: 250px;
}

.work-two{
	max-width: 460px;
	height: 250px;
}

.whov-second{
	max-width: 460px;
	height: 250px;
}

.work-three{
	max-width: 460px;
	height: 250px;
}

.whov-third{
	max-width: 460px;
	height: 250px;
}

.work-four{
	width: 460px;
	height: 500px;
}

.whov-fourth{
	width: 460px;
	height: 500px;
}

.work-five{
	width: 460px;
	height: 500px;
}

.whov-fifth{
	width: 460px;
	height: 500px;
}

.whov-fifth:hover .project-button{
	bottom: 40%;
}

.whov-first:hover .project-button{
	bottom: 30%;
}

.whov-second:hover .project-button{
	bottom: 30%;
}

.whov-third:hover .project-button{
	bottom: 30%;
}

.footer_h2{
	padding-top: 70px;
	font-size: 1.2em;
}

.footer__contact{
	font-size: 1em;
}

.footer__Rights{
	font-size: 0.75em;
}